@import 'styles/variables';

%input-flex {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

%input-field {	
	padding: 12px 16px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 10px;
	border: 1px solid $colot-grey-light;
	background: #F2F6F8;
}

@mixin field($width, $ff) {
	width: $width;
	font-family: $ff;
	@extend %input-field;
}


.transfer {
	&__input {
		@extend %input-flex;

		&_label {
			display: inline-block;
			font-family: $font-mulish-light;
			font-size: 14px;
			line-height: 18px;
			color: $color-black-dark;
		}

		&_field {
			@include field(500px, $font-mulish-light);
	
			&:focus {
				background: #FAFDFF;
				box-shadow: 2px 2px 6px 0px rgba(95, 96, 108, 0.15); 
			}
		}
	}
}


.event {
	&__input {
		@extend %input-flex;

		&_label {
			font-family: $font-mulish-light;
			font-size: 20px;
			color: $color-black-dark;
		}
	
		&_field {
			@include field(408px,  $font-roboto-bold);
	
			&:focus {
				background: #FAFDFF;
				box-shadow: 2px 2px 6px 0px rgba(95, 96, 108, 0.15); 
			}
		}
	}
}