@import "styles/variables";

.tapbox {
  background: rgba(225, 231, 242, 1);
  position: relative;

  &__heading {
    color: $color-blue-btn;
    padding: 16px 20px;
    border-radius: 16px 16px 0 0;
  }

  &__content {
    background: grey;
    padding: 40px 20px;
  }

  &__close-button {
    position: absolute;

  }
}