/* <-- variables --> */

// fonts
$font-mulish-light: mulish-light, sans-serif;
$font-mulish-regular: mulish-regular, sans-serif;
$font-mulish-bold: mulish-bold, sans-serif;
$font-roboto-bold: roboto-bold, sans-serif;

// main colors
$colot-grey-light: #DADBDB;
$color-grey-mid: #A9A9A9;
$color-grey-dark: #555F70;
$color-blue-btn: #0093F0;
$color-red: #FF0035;

// text colors
$color-white: #FAFDFF;
$color-black: #3C4346;
$color-black-dark: #181818;
