.wrapper {
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	padding: 24px 20px;
}


.layout {
	width: 100%;
	height: 100%;
	display: flex;

	&__body {
		height: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
}

.outlet__container {
	min-width: 100%;
	padding-left: 80px;
	overflow-y: auto;
	overflow-x: visible;
}
